.intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    padding: 4rem 20vw;
    gap: 3rem;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
}

.intro_title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.intro_description {
    font-size: 1.5rem;
    font-weight:400;
    text-align:left;
}

.alert {
    position: fixed;
    top: 1rem;
    right: 1rem;
    /* have it slide in */
    animation: slide-in-and-out 3s forwards;
}

@keyframes slide-in-and-out {
    0% {
        transform: translateX(100%);
    }
    10% {
        transform: translateX(0%);
    }
    90% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

